image: node:latest

before_script:
  - apt-get update -y && apt-get install sshpass -y

stages:
  - build
  - deploy


cache:
  paths:
    - node_modules/

build-job:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths: 
      - build/

deploy-job:
  stage: deploy
  script:
    - eval "$(ssh-agent -s)"
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - ssh-keyscan 192.168.3.211 >> ~/.ssh/known_hosts
    - ssh -o StrictHostKeyChecking=no 192.168.3.211 'cd ~/testCoverageFrontend && git pull origin main'
  only:
    - main