image: node:latest

build-job:
  stage: build
  script:
    - npm install
  artifacts:
    paths: 
      - node_modules

test-job1:
  stage: deploy
  script:
    - scp -r build/* 129.62.148.40:C:/test-coverage-frontend/test-coverage-frontend/
  only:
    - master 

test-job2:
  stage: test
  script:
    - echo "This job tests something, but takes more time than test-job1."
    - echo "After the echo commands complete, it runs the sleep command for 20 seconds"
    - echo "which simulates a test that runs 20 seconds longer than test-job1"
    - echo "donny is him"

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production
