image: node:latest

before_script:
  - apt-get update -y && apt-get install sshpass -y

stages:
  - build
  - deploy


cache:
  paths:
    - node_modules/

build-job:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths: 
      - build/

build image:
  image: docker:latest
  services:
    - docker:dind
  stage: deploy
  script:
    - echo "Building Docker image"
    - docker build -t test-coverage-frontend .

deploy-job:
  stage: deploy
  script:
    - eval "$(ssh-agent -s)"
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - ssh-keyscan -H 192.168.3.211 >> ~/.ssh/known_hosts
    - scp -r build/* donovan@192.168.3.211:~/testCoverageFrontend
  only:
    - main