image: node:latest

stages:
  - build
  - deploy

variables:
  SCP_PASSWORD: "groupNumber01"  

cache:
  paths:
    - node_modules/

build-job:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths: 
      - build/

deploy-job:
  stage: deploy
  script:
    - scp -r build/* 192.168.3.211:~/home/donovan -o StrictHostKeyChecking=no echo $SCP_PASSWORD | sshpass -p - ssh 192.168.3.211 "chmod -R 755 ~/home/donovan"
  only:
    - main