image: node:latest

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build-job:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths: 
      - build/

deploy-job:
  stage: deploy
  script:
    - scp -r build/* 192.168.3.211:~/home/donovan
  only:
    - master